/* CSS variables */
:root {
    --primary-color: #01996d;
    --secondary-color: #245852;
    --text-color: #484848;
    --scale-factor: calc(100vw / 1440px);
}

/* Global Styles */
body {
    width: 100%;
    background-color: #ffffff;
    margin: 0;
    font-family: Lato, sans-serif;
    color: var(--text-color);
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', serif;
    color: var(--primary-color);
    font-weight: 700;
}

a.button {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 1.5rem 3rem;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 3rem;
}

a:hover, a.button:hover, li:hover, button:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.05);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

a:focus, a.button:focus, li:focus, button:focus {
    border-radius: 0.25rem;
    outline: 2px solid var(--primary-color);
    outline-offset: 0.25rem;
}

/* Default Styles for Desktop */
html {
    font-size: calc(16px * var(--scale-factor));
    scroll-behavior: smooth;
    scroll-padding-top: 4.5rem;
}

/* Header Styles */
header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    flex-direction: row;
    background-color: #ffffff;
    padding: 1rem 2rem;
    height: 2.5rem;
    font-size: 1.25rem;
    border-bottom:#d6d6d6 1px solid;
    justify-content: space-between;
}

header .logo {
    margin: 0.25rem;
    padding: 0.5rem;
    height: 1.25rem;
}

.logo img {
    height: 100%;
    width: auto;
}

.navbar ul, .nav-buttons {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 2.5rem;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar li {
    list-style: none;
}

.navbar a {
    color: #292929;
    text-decoration: none;
}

.nav-buttons a.sign-in {
    color: #000000;
    text-decoration: none;
}

.nav-buttons a.button {
    padding: 1rem 2.75rem;
    margin-top: 0;
}



/* Main Styles */

/* Hero Styles */
.hero {
    background-image: url('public/images/hero.png');
    background-size: cover;
    width: 100%;
    height: 50rem;
    box-sizing: border-box;
    padding: 11.25rem 58.75rem 0 3.75rem;
    margin-bottom: 5rem;
}

.hero h1 {
    font-size: 4rem;
}

.hero p {
    color: #424242;
    font-size: 1.25rem;
}

/* Feature Styles */
.features {
    padding: 0 3.75rem;
    margin: 5rem 0;
}

.feature-intro h1 {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.how-it-works {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.5rem;
    gap: 2.5rem;
}

.how-it-works h2 {
    font-size: 3rem;
    margin: 1rem 0;
    width: 90%;
}

.how-it-works div {
    display: flex;
    font-size: 1.25rem;
    width: 100%;
    align-items: center;
}

/* Step Styles */
.steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.step {
    display: flex;
    flex-direction: column;
    width: 30%;
    position: relative;
}

.title h1 {
    color: rgba(1, 153, 109, 0.2);
    font-size: 9rem;
    font-weight: 400;
    margin: 3rem 0;
}

.title h2 {
    position: absolute;
    font-size: 1.75rem;
    color: #000000;
    left: 5rem;
    top: 8rem;
}

.step .description {
    font-size: 1.25rem;
    margin-bottom: 3rem;

}

.step img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.step .preview {
    position: absolute;
    bottom: 21.25rem;
    right: 0;
    width: 1440px;
    height: 1140px;
    transform: scale(calc(185 * var(--scale-factor) / 1440));
    transform-origin: bottom right;
}

.step:nth-child(2) {
    margin-top: 15rem;
}

/* Success Story Styles */
.story {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 0;
    padding: 15rem 3.75rem;
    background-color: var(--secondary-color);
}

.story .text {
    width: 45%;
}

.story h1 {
    color: #ffffff;
    font-size: 3.125rem;
    margin-bottom: 1.25rem;
}

.story p {
    color: #ffffff;
    font-size: 1.5rem;
}

.story .video {
    position: relative;
    width: 50%;
}

.story .video img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.story .video button.play-button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    height: auto;
}

.play-button img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Product Styles */
.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 5rem 0 10rem 0;
    padding: 2.5rem 3.75rem 5rem 3.75rem;
    position: relative;
    gap: 2rem;
}

.product .image {
    width: 49%;
}

.product .image img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.product .text {
    width: 45%;
    font-size: 1.25rem;
}

.product h1 {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: #424242;
}

.product h2 {
    font-size: 3.125rem;
    margin-bottom: 1.25rem;
}

.product p {
    margin: 0;
    line-height: 2rem;
}

.product .image-overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 2.25rem;
    background-color: #ffffff;
    box-shadow: 0px 3.62px 18.11px 0px rgba(165, 165, 165, 0.25);
    border-radius: 0.25rem;
    width: 20.5%;
    color: #000000;
    padding: 0 3.5rem;
    box-sizing: border-box;
}

.product .image-overlay h1 {
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    margin: 1.25rem 0 1rem 0;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.75rem;
}

.product .image-overlay .user-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    position: relative;
}

.product .image-overlay .user-image img {
    width: 10rem;
    height: 10rem;
    clip-path: circle(25% at 50% 40%);
    position: absolute;
    top: -0.5rem;
}

.product .image-overlay .user-image p {
    margin: 6.5rem 0 0 0;
    font-size: 0.75rem;
}

.product .image-overlay h2 {
    color: #000000;
    font-size: 1rem;
    text-align: left;
    margin: 0.5rem auto;
}

.product .image-overlay ul {
    line-height: 2rem;
    font-size: 0.625rem;
    padding: 0 1rem;
}

/* Footer Styles */
footer {
    background-color: var(--secondary-color);
    color: #ffffff;
    padding: 3.5rem 3.75rem 5rem 3.75rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2.5rem;
}

footer .footer-content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 5rem;
}

footer .footer-content h1 {
    font-family: 'Avenir', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    color: #ffffff;
}

footer .footer-content .footer-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
}

.footer-content .footer-links a {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

footer .footer-logo {
    margin: 3.25rem;
    padding: 0.5rem;
    height: 2rem;
    width: auto;
}

footer .footer-logo img {
    height: 100%;
    width: auto;
}